workspace_java/.metadata/.bak_0.log
workspace_java/.metadata/
workspace_java/chap04/bin/
workspace_java/chap01/.settings/
workspace_java/chap01/bin/
workspace_java/chap02/bin/
workspace_java/chap01/.classpath
workspace_java/chap01/.project
workspace_java/chap02/.classpath
workspace_java/chap02/.settings/org.eclipse.jdt.core.prefs
workspace_java/chap02/.project
workspace_java/chap04/.classpath
workspace_java/Servers/.project
workspace_java/Servers/.settings/org.eclipse.wst.server.core.prefs
workspace_java/chap04/.settings/org.eclipse.jdt.core.prefs
workspace_java/chap04/.project
